:root {
    --wine-dark-sea: #11024a;
    --lilac-kiss: #c9acd6;
    --amethyst-gaze: #8f3bd8;
    --open-sky: #0a9ee9;
    --persephone-: #0b2818;
    --kore: #1fbc00;
    --pomegranet: #da0271;
    --dread: #800202;    
  }
  body.workAround{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--amethyst-gaze);
    background-color: var(--wine-dark-sea);
  }
  img {
    width: 25%;
    height: auto;
  }

  .header.h1{
    font-size: 60px;
    float: none;
  }

  .header.h2{
    font-size: 40px;
    float: none;
  }

  h1,
  h2 {
    color: var(--lilac-kiss);
    background-color: var(--wine-dark-sea);
  }

  .header a:hover {
    color: var(--amethyst-gaze);
    background-color: var(--open-sky);
  }
  
  .topnav {
    background-color:var(--wine-dark-sea);
    overflow: hidden;
  }
  
  .topnav a {
    float: top;
    display: block;
    color: var(--amethyst-gaze);
    text-align: center;
    padding: 16px 32px;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color:var(--open-sky);
    color: var(--lilac-kiss);
  }

 section.biggestBoi{
    color:var(--amethyst-gaze);
    background-color: var(--wine-dark-sea);
  }
  

  @media screen and (max-width: 800px) {
    header, footer {
    color:var(--pomegranet);
    background-color: var(--dread);
    }
  }

  @media screen and (max-width: 600px) {
    body {
    color:var(--kore);
    background-color: var(--persephone-);
    }
  }